*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F5F9;
}
header{
    background-color: #0EA5E9;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 100%;
    height: 150px;
    margin-top: -10px
}
header h1{
    padding-top: 40px;
}
header p{
    padding-top: 20px;
}
nav{
    text-align: center;
    background-color: #E0F2FE;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
}
nav a{
    color: #0284C7;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 5px;
}
nav a:hover{
    color: white;
    background-color: #0284C7;
    transform: scale(1.1);
}
section {
    background: white;
    margin: 15px;
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
}


